@model  WebApplication1.Models.Form
@using WebApplication1.Models
@{
    ViewBag.Title = "FormComplete";
}
@helper DisplayAncet(Form ancet)
{

    @Html.LabelFor(m=>m.Name, "Имя")
    <br />
    @Html.DisplayFor(m => m.Name)
    <br /><br />
    @Html.LabelFor(m => m.Sex, "Пол")
    <br />
    if (Model.Sex)
    {
        @Html.Label("Ж")
    }
    else
    {
        @Html.Label("М")
    }
    <br /><br />
    @Html.LabelFor(m => m.Age, "Возраст")
    <br />
    @Html.DisplayFor(m => m.Age)
    <br /><br />
    @Html.LabelFor(m => m.Team, "Команда")
    <br />
    @Html.DisplayFor(m => m.Team)
    <br /><br />
{
    string pos="";
    switch (Model.Position)
    {
        case 0: { pos = "Вратарь"; break; }
        case 1: { pos = "Защитник"; break; }
        case 2: { pos = "Полузащитник"; break; }
        case 3: { pos = "Нападающий"; break; }
    }
        @Html.LabelFor(m => m.Position, "Позиция")
        <br />
        @Html.Label(pos)
        <br /><br />
}

    @Html.LabelFor(m => m.Salary, "Зарплата")
    <br />
    @Html.DisplayFor(m => m.Salary)
    <br /><br />
}
<body>
    <div>
        <h2>Ваша анкета</h2>
        @DisplayAncet(Model)
        <br/>
        <pre>Так как у меня нет элементов которые можно представить в виде списка
продемонстрирую работу Хелпера на примере массива строк 
        
        Генерация списка элементов
             @Html.CreateList(new string[] { "Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4" })
        </pre>
       
    </div>


</body>